<!-- ***********************FOOTER********************** -->
<footer>

	



<div class="footer-content">
<img class="logo_original_footer" src="{{ asset('images/logo_one_world-no-bg.png') }}" alt="logo-one_world">

	{# <div class="footer-about">

		<h3>One World</h3>
		<ul>
			<li><a href="#"><i class="fa-solid fa-people-group" style="color: #000000;"></i>FAQ
				                            </a></li>
			<li><a href=""><i class="fa-brands fa-adversal" style="color: #000000;"></i>Newsletter</a></li>
			<li><a href=""><i class="fa-solid fa-newspaper" style="color: #000000;"></i>Contact</a></li>


		</ul>

	</div> #}
<div class="footer-social">
		<h3>Me suivre</h3>
		<ul>

			<li>
				<a href="#">
					<i class="fa-brands fa-facebook-f"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa-brands fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa-brands fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa-brands fa-instagram"></i>
				</a>
			</li>
		</ul>
		<ul></ul>
	</div>



</div>
<div
	class="footer-menu">
	<!-- <h3>Liens utiles</h3> -->
	<ul>
		
		<li class="separateur">|</li>
		<li>
			<a href="RGPD.html">RGPD</a>
		</li>
		<li class="separateur">|</li>
		<li>
			<a href="cookies.html">Cookies</a>
		</li>
		<li class="separateur">|</li>
		<li>
			<a href="mentions_legales.html">
				Mentions légales
			</a>
		</li>
		<li class="separateur">|</li>
		<li>
			<a href="confidantialite.html">Politique de confidentialité</a>
		</li>
		<li class="separateur">|</li>
		<li>
			<a href="cgu.html">Conditions générales d'utilisations</a>
		</li>
		<li class="separateur">|</li>

	</ul>
</div>
<p class="copyright">
	© 2023 - One World - Tout droit réservé. 
</p></footer>
