<!-- ***********************FOOTER********************** -->
    <footer>
        <div class="top_footer">
            <img class="logo-mybodydate" src="/assets/images/logo.png" alt="Logo de l'entreprise">

            <!-- <div class="select_langue"> -->

            <ul class="select_langue">
                <li>
                    <div class="language_fr">
                        <div class="img_flag">
                            <img src="/assets/images/flag_fr.png" alt="">
                        </div>
                        <div>Français</div>
                    </div>
                    <ul class="list_lang">
                        <li>
                            <div class="language_en">
                                <div class="img_flag">
                                    <img src="/assets/images/flag_uk.png" alt="">
                                </div>
                                <div>English</div>
                            </div>
                        </li>
                        <li>
                            <div class="language_esp">
                                <div class="img_flag">
                                    <img src="/assets/images/flag_esp.png" alt="">
                                </div>
                                <div>Español</div>
                            </div>
                        </li>
                    </ul>
                </li>
                <i class="fa-sharp fa-solid fa-chevron-down"></i>
            </ul>


        </div>

        <!-- 
            <select id="langue-select">
                <option value="en" data-img-src="/assets/images/flag_uk.jpg">Anglais</option>
                <option value="fr" data-img-src="drapeau-francais.png">Français</option>
                <option value="es" data-img-src="drapeau-espagnol.png">Espagnol</option>
            </select> -->


        </div>
        <div class="footer-content">
            <div class="footer-about">

                <h3>My Body Date</h3>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-people-group" style="color: #000000;"></i> Qui sommes nous
                            ?</a></li>
                    <li><a href=""><i class="fa-brands fa-adversal" style="color: #000000;"></i> Publicité</a></li>
                    <li><a href=""><i class="fa-solid fa-briefcase" style="color: #000000;"></i> Carrières</a></li>
                    <li><a href=""> <i class="fa-solid fa-newspaper" style="color: #000000;"></i> Presse / Média</a>
                    </li>


                </ul>

            </div>


            <div class="footer-contact">
                <h3>Contactez-nous</h3>
                <ul>
                    <li><a href="#"><i class="fa fa-phone"></i> 01 85 73 47 87</a></li>
                    <li><a href="mailto:contact@entreprise.com"><i class="fa fa-envelope"></i>contact@entreprise.com</a>
                    </li>
                    <li><span><i class="fa fa-map-marker"></i>Adresse de l'entreprise</span></li>
                </ul>
            </div>
            <div class="footer-social">
                <h3>Nous suivre</h3>
                <ul>
                    <!-- <li><a href="#"><i class="fa-brands fa-facebook" style="color: #145fe1;"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter" style="color: #1964e6;"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin" style="color: #1c5fd4;"></i></a></li>
                    <li><a href="#"><img src="/assets/images/home/logo-instagram-removebg-preview.png" alt="logo-insta"></a></li> -->
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </ul>
            </div>

        </div>
        <div class="footer-menu">
            <!-- <h3>Liens utiles</h3> -->
            <ul>
                <li><a href="aide.html" target="_blank">FAQ</a>
                <li class="separateur">|</li>
                <li><a href="RGPD.html">RGPD</a></li>
                <li class="separateur">|</li>
                <li><a href="cookies.html">Cookies</a></li>
                <li class="separateur">|</li>
                <li><a href="mentions_legales.html"> Mentions légales </a></li>
                <li class="separateur">|</li>
                <li><a href="confidantialite.html">Politique de confidentialité</a></li>
                <li class="separateur">|</li>
                <li><a href="cgu.html">Conditions générales d'utilisations</a></li>
                <li class="separateur">|</li>
                <li><a href="">Conditions générales de ventes</a></li>
                <li class="separateur">|</li>

                <li><a href="#">Loi sur l'esclavage moderne</a></li>
            </ul>
        </div>
        <p class="copyright"> © 2023 CUSTOMER GENERATED CONTENT SAS. My Body Social est une marque de <a
                href="https://www.mybodygroup.com/"> MY BODY GROUP.</a>
        </p>
    </footer>