{% extends 'base.html.twig' %}

{% block title %}Hello ConditionController!{% endblock %}

{% block body %}

    <main class="main-cgu">
        <section>
            <div class="block-general-adm">

                <div class="menu-lien-utiles">
                    <ul>
                        <li>
                            <a href="{{ path('app_mentions_legales') }}">
                                Mentions légales
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_politique_confidentialite') }}">Politique de confidentialité</a>
                        </li>
                        <li>
                            <a href="{{ path('app_conditions_generales') }}">Conditions générales d'utilisations</a>
                        </li>
                        <li>
                            <a href="{{ path('app_cookie') }}">Cookies</a>
                        </li>
                    </ul>
                </div>
                <div class="container-conditions">

                    <h1>Mentions légales</h1>
                    <h2>1. Informations légales</h2>
                    <p>Raison sociale : One World</p>
                    <p>Adresse : [Adresse de la société]</p>
                    <p>Numéro de téléphone : [Numéro de téléphone]</p>
                    <p>Email : shakoorfida@exemple.com</p>
                    <h2>2. Directeur de publication</h2>
                    <p>Shakoor Fida</p>
                    <h2>3. Hébergeur</h2>
                    <p>Hébergeur : Hostinger</p>
                    <p>Adresse : [Adresse de l'hébergeur]</p>
                    <h2>4. Propriété intellectuelle</h2>
                    <p>Tous les contenus présents sur ce site (textes, images, vidéos, logos, etc.) sont protégés par
                        les lois relatives à la propriété intellectuelle et appartiennent à leurs propriétaires
                        respectifs.</p>
                    <p>Toute utilisation, reproduction ou diffusion des contenus sans autorisation préalable est
                        strictement interdite.</p>
                    <h2>5. Collecte et utilisation des données personnelles</h2>
                    <p>Nous collectons et utilisons vos données personnelles conformément à notre politique de
                        confidentialité. En utilisant notre site, vous consentez à la collecte et à l'utilisation de vos
                        données personnelles conformément à notre politique de confidentialité.</p>
                    <h2>6. Cookies</h2>
                    <p>Notre site utilise des cookies. En utilisant notre site et en acceptant cette politique, vous
                        consentez à notre utilisation des cookies.</p>
                    <h2>7. Responsabilité</h2>
                    <p>Nous nous efforçons de fournir des informations exactes et à jour sur notre site, mais nous ne
                        pouvons garantir leur exhaustivité, leur exactitude ou leur pertinence.</p>
                    <p>Nous déclinons toute responsabilité en cas de dommages directs ou indirects résultant de
                        l'utilisation de notre site.</p>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
