.content-wrapper{

 width: 85vw;
 display: block;
 margin: auto;
}
.container-article{
margin-top: 100px;
}
.img-article-portrait{
  display: block;
  margin: auto;
max-width: 400px;
  height: 500px;
margin-top: 80px;
margin-bottom: 80px;
}
.img-article-portrait img{

  width: 100%;
  height: 100%;
}
#description_articles {
  width: 80vw;
  display: block;
  margin: auto;
  margin-bottom: 120px;
}



/* Styles pour la section de commentaires */
.comment-section {
  width: 100%;
  padding: 20px;
background-image: url(/public/images/bgcomment.jpeg);
background-size: cover;
background-position: center;
color: white;
margin: 0;
}

/* Styles pour chaque commentaire */
.comment {
  width: 300px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment .author {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
}

.comment .date {
  font-size: 12px;
  color: #888888;
  margin-bottom: 5px;
}

.comment .content {
  margin-bottom: 10px;
  line-height: 1.6;
  color: #555555;
}

/* Styles pour le formulaire de commentaire */
.comment-form textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  resize: vertical;
  font-size: 16px;
  color: #333333;
max-width: 520px;
  height: 220px;
}

.comment-form input[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.comment-form input[type="submit"]:hover {
  background-color: #0056b3;

}

#comment_form_content {

  border: #000000 3px ridge;
  border-radius: 20px;
  margin: 30px auto;
}

.envoyer-btn {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  width: 150px;
}

.envoyer-btn:hover {
  background-color: #0056b3;
}

.contenu1,.contenu2{
margin: 0px auto 30px auto ;

}