.header_astuce{
    background-image:url(/public/images/astuce-header.jpg) ; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Ombre pour améliorer la lisibilité */
    filter: brightness(0.8) contrast(1.2);
    /* Réglages de luminosité et de contraste */
}

.section-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.section-animation.animate {
    opacity: 1;
    transform: none;
}

